{% extends "layout.html" %}
{% block content %}
<h2>Register</h2>
<form id="studentForm" action="/register" method="POST">
    <!-- <input type="hidden" id="studentId" name="studentId"> -->
    <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input type="text" class="form-control" id="email" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="email" name="password" required>
    </div>
    <div class="mb-3">
        <label for="cPassword" class="form-label">Confirm Password</label>
        <input type="text" class="form-control" id="cPassword" name="cPassword" required>
    </div>
    <button type="submit" class="btn btn-primary" id="submitButton">Add</button>
</form>
{% endblock %}